.footer {
  
  line-height: 100%;
  color: #212121;
  padding-top: 60px;
  padding-bottom: 60px;
  opacity: 0.7;
}

.footer__copy {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}
