.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  opacity: 0;
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent url("../images/close.svg") center no-repeat;
  cursor: pointer;
  opacity: 40%;
}

.modal__close-btn:hover {
  opacity: 0.8;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-size: 20px;
  line-height: 1;
  padding: 16px 12px 16px;
  margin: 8px 0 0;
  color: #212121;
  display: block;
}

.modal__input::placeholder {
  color: #21212140;
}

.modal__submit-btn {
  background-color: #212121;
  color: #fcf5e5;
  max-width: 156px;
  border-radius: 8px;
  padding-top: 18px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 18px;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 100%;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .modal__title {
    font-size: 20px;
    line-height: 100%;
  }

  .modal__label {
    font-size: 16px;
  }

  .modal__container {
  padding: 22px 12px 12px;
}

.modal__close-btn {
  top: 12px;
  right: 12px;
}

.modal__input {
  font-size: 16px;
}

.modal__submit-btn {
  max-width: 100%;
}
}
